/* universal  selector*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

/* element selector */
/* h1{
    background-color: red;
} */

/* class  selector*/
/* .box{
    background-color: teal;
} */

/* id  selector*/
/* #heading3{
    background-color: burlywood;
} */

/* group  selector*/
/* h1,p{
    font-style: italic;
} */

/* combinator selector  */

/* descendent  selector*/
/* .inner p {
    background-color: red;
} */

/* adjascent siblings  selector*/
/* .para1 + p{
    background-color: green;
} */

/* general  siblings selector */
/* .para1 ~ p{
    background-color: blueviolet;
} */


/* pseudoclass selector  */
/* .para1 + p:hover{
    background-color: green;
}
.para1 + p:active{
    background-color: pink;
} */


/* first child */
/* div p:first-child{
    background-color: red;
} */

/* last child */
/* div p:last-child{
    background-color: blue;
} */


/* pseudo element  */
/* div p:first-child::first-letter{
    font-size: 3rem;
    background-color: teal;
} */

/* div p:first-child::first-line{
    font-size: 3rem;
    background-color: teal;
} */

/* before  */
/* div p::after{
    content: "hey i am sam";
}
div p::before{
    content: "hey i am uffexx";
} */


/* attribute selector  */
a[target]{
    background-color: red;
}