/* div{ */
    /* width: 300px;
    height: 100px;
    background-color: red;
    /* border: 10px solid black; */
    /* margin: 20px;
    /* padding: 20px; */ 



/* } */

/* .box1{
    width: 200px;
    height: 200px;
    background-color: red;
    /* margin-bottom: 100px; */
    /* margin: auto; */
/* } */
/* .box2{
    width: 200px;
    height: 200px;
    background-color: teal;
    margin-top: 120px;
} */ 


div{
    background-color: teal;
    /* width: 600px; */
    max-width: 700px;
}