*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #000;
    color: white;
    padding: 30px;
    display: grid;
    /* row-gap: 20px;
    column-gap: 20px; */
    gap: 20px;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);

    /* grid-template-rows: repeat(2, 1fr); */
    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* align-items: end; */

    /* align-content: center; */



}
.box{
    width: 100%;
    height: 100%;
    background-color: lightseagreen;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 4;
}
.item2{
    grid-row-start: 2;
    grid-row-end: 4;
}
.item3{
    grid-column-start: 2;
    grid-column-end: 4;
}
.item6{
    grid-column-start: 1;
    grid-column-end: 4;
    


}