*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
.container{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    gap: 10px;
}
.box{
    width: 200px;
    height: 200px;
    background-color: lightseagreen;
}

@media (min-width:900px){
    .container{
        background-color: red;
    }
}

@media (max-width:950px){
    .container{
        flex-wrap: wrap;
    }
}