@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

h1{
    background-color: red;
    text-align: center;
    font-weight: 700;
    font-family: Poppins;
}
p{
    /* text-align: justify; */
    /* text-align: center;
    text-align-last: center; */
    /* direction: rtl; */
    /* vertical-align: middle; */
    /* text-decoration: line-through red wavy 2px; */
    /* text-transform: uppercase;
    text-transform: lowercase; */
    /* text-transform: capitalize; */
    /* text-indent: 50px; */
    /* letter-spacing: 10px; */
    /* word-spacing: 20px; */
    /* line-height: 10px; */
    /* text-shadow: 2px 2px 3px red; */

    /* font properties  */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-style: italic; */
    text-align: center;
}