*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
html{
    font-size: 40px;
}
/* div{
    font-size: 2rem;  /* default font size */
/* } */ 

.parent{
    /* font-size: 120px; */
    font-size: 10vw;
}
.child{
    /* font-size: 2em; */
    font-size: 240px;
}