*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
div{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 50px;
    padding: 50px;
    border: 10px solid black;
}